/* CSS Document */
#tpl_app
{
	font-family: 'Merriweather Sans', sans-serif;
	font-size:14px;
	width:698px;
}

#tpl_app #home
{
	border:1px solid grey;
	display:inline-block;
	height:300px;
	margin:58px 0px 0px 0px;
	width:698px;
}
#tpl_app #home h1
{
	margin:200px 0px 0px 0px;
}
#tpl_app #home h1,#tpl_app #home p
{
	display:inline-block;
	float:left;
	padding:0px 0px 0px 10px;
	width:688px;
}

#tpl_app #contact
{
	border-left:1px solid grey;
	display:inline-block;
	padding:0px 0px 0px 10px;
	float:left;
}
#tpl_app #contact h1
{
	
}
#tpl_app #contact table td
{
	padding:5px 2px 5px 2px;
}
#tpl_app #contact input
{
	height:20px;
	width:300px;
}
#tpl_app #contact textarea
{
	height:100px;
	width:300px;
}
#tpl_app #contact .input_error
{
	border:1px solid red;
	color:red;
	display:inline-block;
	float:left;
	margin:2px 0px 5px 0px;
	text-align:center;
	width:204px;
}