/* CSS Document */

#tpl_mod_breadcumb
{
	color:#666;
	display:inline-block;
	float:left;
	font-family: 'Merriweather Sans', sans-serif;
	font-size:13px;
	height:20px;
	margin:0px 0px 0px 1px;
	padding:5px 0px 0px 0px;
}

#tpl_mod_breadcumb a
{
	color:#666;
	text-decoration:none;
}
#tpl_mod_breadcumb a:hover
{
	color:#333;
}