/* CSS Document */
#tpl_mod_copyright
{
	background-color:rgba(255,255,255,0.65);
	color:black;
	display:inline-block;
	float:right;
	font-size:12px;
	padding:5px 0px 0px 0px;
	margin:0px 1px 0px 0px;
	height:20px;
}