/* CSS Document */

.tpl_mod_nav
{
	display:inline-block;
	float:left;
	position:fixed;
	margin:30px 0px 0px 25px;
	/*top:50%;
	margin:-180px 0px 0px 10px;*/
}
.tpl_mod_nav a
{
	margin:0px;
}
.tpl_mod_nav ul
{
	list-style-type:none;
	padding:0px;
}
.tpl_mod_nav ul li
{
	margin:0px;
}

/*
 * Menubox
 */
.tpl_mod_nav .menubox
{
	background:white;
	display:inline-block;
	padding:20px 3px 20px 3px;
}
.tpl_mod_nav .space
{
	border-top:1px solid grey;
}
.tpl_mod_nav .menubox_active
{
	background:white;
	display:inline-block;
	padding:20px 3px 20px 3px;
}
.tpl_mod_nav .menubox:hover, .tpl_mod_nav .menubox_active:hover
{
	
}

/*
 * Home Icon
 */
.tpl_mod_nav .menubox .homeicon
{
	background-image:url(../img/pixellatte-icon-sprite.png);
	background-position:0px 0px;
	height:36px;
	width:36px;
}
.tpl_mod_nav .menubox_active .homeicon
{
	background-image:url(../img/pixellatte-icon-sprite.png);
	background-position:-72px 0px;
	height:36px;
	width:36px;
}
.tpl_mod_nav .menubox:hover .homeicon, .tpl_mod_nav .menubox_active:hover .homeicon
{
	background-position:-36px 0px;
}

/*
 * Contact Icon
 */
.tpl_mod_nav .menubox .contacticon
{
	background-image:url(../img/pixellatte-icon-sprite.png);
	background-position:0px -36px;
	height:36px;
	width:36px;
}
.tpl_mod_nav .menubox_active .contacticon
{
	background-image:url(../img/pixellatte-icon-sprite.png);
	background-position:-72px -36px;
	height:36px;
	width:36px;
}
.tpl_mod_nav .menubox:hover .contacticon, .tpl_mod_nav .menubox_active:hover .contacticon
{
	background-position:-36px -36px;
}

/*
 * Contact Icon
 */
.tpl_mod_nav .menubox .articleicon
{
	background-image:url(../img/pixellatte-icon-sprite.png);
	background-position:0px -72px;
	height:36px;
	width:36px;
}
.tpl_mod_nav .menubox_active .articleicon
{
	background-image:url(../img/pixellatte-icon-sprite.png);
	background-position:-72px -72px;
	height:36px;
	width:36px;
}
.tpl_mod_nav .menubox:hover .articleicon, .tpl_mod_nav .menubox_active:hover .articleicon
{
	background-position:-36px -72px;
}

/*
 * Contact Icon
 */
.tpl_mod_nav .menubox .abouticon
{
	background-image:url(../img/pixellatte-icon-sprite.png);
	background-position:0px -108px;
	height:36px;
	width:36px;
}
.tpl_mod_nav .menubox_active .abouticon
{
	background-image:url(../img/pixellatte-icon-sprite.png);
	background-position:-72px -108px;
	height:36px;
	width:36px;
}
.tpl_mod_nav .menubox:hover .abouticon, .tpl_mod_nav .menubox_active:hover .abouticon
{
	background-position:-36px -108px;
}