body
{
	/*background-color:#000;
	background-image:url(../img/bg1.jpg);*/
	background-repeat:no-repeat;
	background-position:top;
	border:1px solid none;
	margin:0px;
	padding:0px;
}
#main
{
	display:block;
	margin:0 auto;
	height:100%;
	width:800px;
}
#top
{
	border-bottom:1px solid grey;
	background-color:rgba(255,255,255,0.9);
	display:block;
	position:fixed;
	top:0px;
	margin:0 auto;
	height:25px;
	width:800px;
}
#left
{
	display:inline-block;
	float:left;
	margin-top:100px;
	height:100px;
	width:100px;
}
#center
{
	display:inline-block;
	float:left;
	margin:50px 0px 25px 0px;
	width:700px;
}
#right
{
	display:inline-block;
	float:left;
	height:00px;
	width:0px;
}
#footer
{
	border-top:1px solid grey;
	background-color:rgba(255,255,255,0.9);
	display:block;
	position:fixed;
	bottom:0px;
	margin:0 auto;
	height:25px;
	width:800px;
}

.tpl_mod
{
	display:inline-block;
	float:left;
}